.btn {
    background-color: #EA1E63;
    color: #fff;
    border: none;
    padding: 0.5em;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    border-radius: 0.2em;
    padding: 0.5em 0.7em;
}
.btn:hover {
    box-shadow: 0 4px 8px #000;
}