.clock {
    display: flex;
    width: 100%;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    gap: 30px 0;
}
.clock > .time {
    width: 25%;
}
.clock > .time > .value {
    font-size: 60px;
    font-weight: bold;
}
.clock > .time > .label {
    font-size: 14px;
    text-transform: uppercase;
}
@media (max-width: 560px) {
    .clock > .time {
        width: 50%;
    }       
}