.mouse {
    font-size: 3px;
    border: 1em solid #fff;
    width: 7em;
    height: 13em;
    border-radius: 4em;
    position: relative;
}
.mouse::before {
    content: '';
    background-color: #fff;
    width: 1em;
    height: 1.6em;
    position: absolute;
    top: 2.5em;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-radius: 0.5em;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {
        /* background-color: #fff; */
        opacity: 1;
        /* top: 2.5em; */
        transform: translate(-50%, 0);
    }
    50% {
        /* background-color: #fff; */
        opacity: 1;
    }
    100% {
        /* top: 7.5em; */
        transform: translate(-50%, 300%);
        /* background-color: transparent; */
        opacity: 0;
    }
}