/* base */
@import '../base/base.css';
@import '../base/Layout.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/clock.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';
@import '../components/button.css';
/* custom style below this comment line */
section.container {
    padding-bottom: 30px;
}
.hero {
    min-height: 100vh;
    padding-bottom: 30px;
    background-image: url(../../img/coming-soon-bg01.png);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}
.hero > .short-row {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center;
}
.logo {
    height: 40px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.main-title {
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: -3px;
}
/*  main */
.main-description {
    font-size: 16px;
/*  footer */
}
footer.container {
    padding-top: 0;
}
footer > .row {
    position: relative;
}
.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #fff;
}
.socials > a {
    width: 2.3em;
    height: 2.3em;
    line-height: 2.3em;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.9s;
}
.socials > a:hover {
    color: #03A9F3;
    background-color: #fff;
}

.back-to-top {
    background-color: red;
    position: absolute;
    top: -1.1em;
    right: -0.6em;
}